USE [master]
DROP DATABASE [QLKS]
GO
/****** Object:  Database [QLKS]    Script Date: 4/29/2024 4:39:11 PM ******/
CREATE DATABASE [QLKS]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKS]
GO
/****** Object:  Table [dbo].[CHITIETCHUCNANG]    Script Date: 4/29/2024 4:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETCHUCNANG](
	[maPQ] [varchar](20) NOT NULL,
	[maChucNang] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CHITIETCHUCNANG] PRIMARY KEY CLUSTERED 
(
	[maPQ] ASC,
	[maChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTHUE]    Script Date: 4/29/2024 4:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHUE](
	[maCTT] [varchar](20) NOT NULL,
	[maKH] [varchar](20) NULL,
	[maNV] [varchar](20) NULL,
	[ngayLapPhieu] [datetime] NULL,
	[tienDatCoc] [int] NULL,
	[tinhTrangXuLy] [int] NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maCTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTHUEDICHVU]    Script Date: 4/29/2024 4:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHUEDICHVU](
	[maCTT] [varchar](20) NOT NULL,
	[maDV] [varchar](20) NOT NULL,
	[ngaySuDung] [date] NOT NULL,
	[SoLuong] [int] NULL,
	[giaDV] [int] NULL,
 CONSTRAINT [PK_CHITIETHUEDICHVU] PRIMARY KEY CLUSTERED 
(
	[maCTT] ASC,
	[maDV] ASC,
	[ngaySuDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTHUEPHONG]    Script Date: 4/29/2024 4:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHUEPHONG](
	[maCTT] [varchar](20) NOT NULL,
	[maP] [varchar](20) NOT NULL,
	[ngayThue] [datetime] NOT NULL,
	[ngayTra] [datetime] NULL,
	[ngayCheckOut] [datetime] NULL,
	[loaiHinhThue] [int] NULL,
	[giaThue] [int] NULL,
	[tinhTrang] [int] NULL,
 CONSTRAINT [PK_CHITIETTHUEPHONG] PRIMARY KEY CLUSTERED 
(
	[maCTT] ASC,
	[maP] ASC,
	[ngayThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTIENICH]    Script Date: 4/29/2024 4:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTIENICH](
	[maP] [varchar](20) NOT NULL,
	[maTI] [varchar](20) NOT NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [PK_CHITIETTIENICH] PRIMARY KEY CLUSTERED 
(
	[maP] ASC,
	[maTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCNANG]    Script Date: 4/29/2024 4:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[maChucNang] [varchar](20) NOT NULL,
	[tenChucNang] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 4/29/2024 4:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[maDV] [varchar](20) NOT NULL,
	[tenDV] [nvarchar](100) NULL,
	[loaiDV] [nvarchar](128) NULL,
	[giaDV] [int] NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/29/2024 4:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[maHD] [varchar](20) NOT NULL,
	[maCTT] [varchar](20) NULL,
	[maNV] [varchar](20) NULL,
	[giamGia] [int] NULL,
	[phuThu] [int] NULL,
	[ngayThanhToan] [datetime] NULL,
	[phuongThucThanhToan] [smallint] NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/29/2024 4:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[maKH] [varchar](20) NOT NULL,
	[tenKH] [nvarchar](50) NULL,
	[CMND] [varchar](20) NULL,
	[gioiTinh] [smallint] NULL,
	[sDT] [varchar](20) NULL,
	[queQuan] [nvarchar](100) NULL,
	[quocTich] [nvarchar](100) NULL,
	[ngaySinh] [date] NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/29/2024 4:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[maNV] [varchar](20) NOT NULL,
	[tenNV] [nvarchar](50) NULL,
	[gioiTinh] [smallint] NULL,
	[soNgayPhep] [smallint] NULL,
	[chucVu] [smallint] NULL,
	[ngaySinh] [date] NULL,
	[ngayVaoLam] [date] NULL,
	[email] [varchar](100) NULL,
	[luong1Ngay] [int] NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 4/29/2024 4:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[maPQ] [varchar](20) NOT NULL,
	[tenPQ] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 4/29/2024 4:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[maP] [varchar](20) NOT NULL,
	[tenP] [nvarchar](20) NULL,
	[loaiP] [smallint] NULL,
	[giaP] [int] NULL,
	[chiTietLoaiP] [int] NULL,
	[tinhTrang] [int] NULL,
	[hienTrang] [int] NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 4/29/2024 4:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[taiKhoan] [varchar](20) NOT NULL,
	[maNV] [varchar](20) NULL,
	[matKhau] [varchar](max) NULL,
	[tinhTrang] [int] NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[taiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIENICH]    Script Date: 4/29/2024 4:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENICH](
	[maTI] [varchar](20) NOT NULL,
	[tenTI] [nvarchar](30) NULL,
	[xuLy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETCHUCNANG] ([maPQ], [maChucNang]) VALUES (N'0', N'1')
INSERT [dbo].[CHITIETCHUCNANG] ([maPQ], [maChucNang]) VALUES (N'0', N'2')
INSERT [dbo].[CHITIETCHUCNANG] ([maPQ], [maChucNang]) VALUES (N'0', N'3')
GO
INSERT [dbo].[CHITIETTIENICH] ([maP], [maTI], [soLuong]) VALUES (N'P1404240001', N'TI1011230002', 1)
INSERT [dbo].[CHITIETTIENICH] ([maP], [maTI], [soLuong]) VALUES (N'P1404240002', N'TI1011230001', 1)
INSERT [dbo].[CHITIETTIENICH] ([maP], [maTI], [soLuong]) VALUES (N'P1404240002', N'TI1011230003', 1)
GO
INSERT [dbo].[CHUCNANG] ([maChucNang], [tenChucNang]) VALUES (N'1', N'Quản lý phòng')
INSERT [dbo].[CHUCNANG] ([maChucNang], [tenChucNang]) VALUES (N'2', N'Quản lý dịch vụ')
INSERT [dbo].[CHUCNANG] ([maChucNang], [tenChucNang]) VALUES (N'3', N'Quản lý khách hàng')
GO
INSERT [dbo].[DICHVU] ([maDV], [tenDV], [loaiDV], [giaDV], [xuLy]) VALUES (N'DV1104240001', N'Massage lành m?nh', N'Cham sóc s?c d?p', 200000, 1)
INSERT [dbo].[DICHVU] ([maDV], [tenDV], [loaiDV], [giaDV], [xuLy]) VALUES (N'DV1204240002', N'Massage lành mạnh', N'Chăm sóc sắc đẹp', 200000, 1)
INSERT [dbo].[DICHVU] ([maDV], [tenDV], [loaiDV], [giaDV], [xuLy]) VALUES (N'DV1204240003', N'Massage cực mạnh', N'Chăm sóc sắc đẹp', 200000, 1)
GO
INSERT [dbo].[NHANVIEN] ([maNV], [tenNV], [gioiTinh], [soNgayPhep], [chucVu], [ngaySinh], [ngayVaoLam], [email], [luong1Ngay], [xuLy]) VALUES (N'NV00104240002', N' ', 0, 0, 0, CAST(N'2004-04-01' AS Date), CAST(N'2024-04-01' AS Date), N'asdadasd@asfa.cad', 500000, 1)
INSERT [dbo].[NHANVIEN] ([maNV], [tenNV], [gioiTinh], [soNgayPhep], [chucVu], [ngaySinh], [ngayVaoLam], [email], [luong1Ngay], [xuLy]) VALUES (N'NV01711230001', N'Nguyễn Văn An', 0, 3, 0, CAST(N'2000-09-09' AS Date), CAST(N'2023-11-17' AS Date), N'An@gmail.com', 200000, 0)
INSERT [dbo].[NHANVIEN] ([maNV], [tenNV], [gioiTinh], [soNgayPhep], [chucVu], [ngaySinh], [ngayVaoLam], [email], [luong1Ngay], [xuLy]) VALUES (N'NV02904240003', N'Nguyễn Văn An', 0, 3, 0, CAST(N'2000-09-09' AS Date), CAST(N'2024-04-29' AS Date), N'An@gmail.com', 200000, 0)
GO
INSERT [dbo].[PHANQUYEN] ([maPQ], [tenPQ]) VALUES (N'0', N'Admin')
INSERT [dbo].[PHANQUYEN] ([maPQ], [tenPQ]) VALUES (N'1', N'Manager')
INSERT [dbo].[PHANQUYEN] ([maPQ], [tenPQ]) VALUES (N'2', N'Receptionist')
GO
INSERT [dbo].[PHONG] ([maP], [tenP], [loaiP], [giaP], [chiTietLoaiP], [tinhTrang], [hienTrang], [xuLy]) VALUES (N'P1404240001', N'Phòng Đơn 1', 1, 100000, 0, 0, 0, 0)
INSERT [dbo].[PHONG] ([maP], [tenP], [loaiP], [giaP], [chiTietLoaiP], [tinhTrang], [hienTrang], [xuLy]) VALUES (N'P1404240002', N'Phòng Ghế Tình yêu', 0, 200000, 1, 0, 0, 0)
INSERT [dbo].[PHONG] ([maP], [tenP], [loaiP], [giaP], [chiTietLoaiP], [tinhTrang], [hienTrang], [xuLy]) VALUES (N'P1404240003', N'Phòng Gia Đình', 0, 300000, 2, 0, 0, 0)
GO
INSERT [dbo].[TAIKHOAN] ([taiKhoan], [maNV], [matKhau], [tinhTrang], [xuLy]) VALUES (N'admin', N'NV01711230001', N'123456', 0, 0)
GO
INSERT [dbo].[TIENICH] ([maTI], [tenTI], [xuLy]) VALUES (N'TI0804240003', N'Ghế tình yêu', 1)
INSERT [dbo].[TIENICH] ([maTI], [tenTI], [xuLy]) VALUES (N'TI1011230001', N'Tivi siêu mỏng', 0)
INSERT [dbo].[TIENICH] ([maTI], [tenTI], [xuLy]) VALUES (N'TI1011230002', N'Tủ lạnh mini', 0)
GO
ALTER TABLE [dbo].[CHITIETCHUCNANG]  WITH CHECK ADD FOREIGN KEY([maChucNang])
REFERENCES [dbo].[CHUCNANG] ([maChucNang])
GO
ALTER TABLE [dbo].[CHITIETCHUCNANG]  WITH CHECK ADD FOREIGN KEY([maPQ])
REFERENCES [dbo].[PHANQUYEN] ([maPQ])
GO
ALTER TABLE [dbo].[CHITIETTHUE]  WITH CHECK ADD FOREIGN KEY([maKH])
REFERENCES [dbo].[KHACHHANG] ([maKH])
GO
ALTER TABLE [dbo].[CHITIETTHUE]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[NHANVIEN] ([maNV])
GO
ALTER TABLE [dbo].[CHITIETTHUEDICHVU]  WITH CHECK ADD FOREIGN KEY([maCTT])
REFERENCES [dbo].[CHITIETTHUE] ([maCTT])
GO
ALTER TABLE [dbo].[CHITIETTHUEDICHVU]  WITH CHECK ADD FOREIGN KEY([maDV])
REFERENCES [dbo].[DICHVU] ([maDV])
GO
ALTER TABLE [dbo].[CHITIETTHUEPHONG]  WITH CHECK ADD FOREIGN KEY([maCTT])
REFERENCES [dbo].[CHITIETTHUE] ([maCTT])
GO
ALTER TABLE [dbo].[CHITIETTHUEPHONG]  WITH CHECK ADD FOREIGN KEY([maP])
REFERENCES [dbo].[PHONG] ([maP])
GO
ALTER TABLE [dbo].[CHITIETTIENICH]  WITH CHECK ADD FOREIGN KEY([maTI])
REFERENCES [dbo].[TIENICH] ([maTI])
GO
ALTER TABLE [dbo].[CHITIETTIENICH]  WITH CHECK ADD FOREIGN KEY([maP])
REFERENCES [dbo].[PHONG] ([maP])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([maCTT])
REFERENCES [dbo].[CHITIETTHUE] ([maCTT])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[NHANVIEN] ([maNV])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[NHANVIEN] ([maNV])
GO
USE [master]
GO
